body{
    background-color: rgb(131, 5, 148);
    font-family: sans-serif;
}
h1:first-of-type{
    width: 200px;
}
h1{
    margin: auto;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    padding: 10px 0 10px 0;
}
#revisando::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}
#revisando:hover::after{
    width: 100%;
}

/* SOMA */
.soma{
    background-color: rgba(0, 255, 255, 0.247);
}
.numeros{
    /* background-color: beige; */
    width: 500px;
    margin: auto;
}
#res{
    text-align: center;
    padding: 10px;
    color: yellow;
}
#btnsoma:hover{
    background-color: yellow;
}
