@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Poppins:wght@300&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(43, 43, 43, 0.795);
}
#form { 
    position: relative;
}
#form #email{
    width: 300px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: #29292985;
    color: white;
    border-radius: 6px;
}
.inputbox{
    position: relative;
}
#text{
    display: block;
    color: #000;
    font-weight: 300;
    padding: 5px;
    font-style: italic;
}
#form.invalido .inputbox:before{
    content: '';
    position: absolute;
    right: 5px;
    top: 3px;
    background: url(imagens/invalid.png);
    width: 24px;
    height: 24px;
    background-size: cover;
}
#form.valido .inputbox:before{
    content: '';
    position: absolute;
    right: 5px;
    top: 3px;
    background: url(imagens/valid.png);
    width: 24px;
    height: 24px;
    background-size: cover;
}

