*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    margin: 1em;
    
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.box{
    /* background-color: grey; */
    border: 2px solid rgb(41, 40, 40);
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px 150px 100px;
    /* grid-auto-rows: 150px; */
    grid-gap: 5px;
    grid-template-areas:
    'header header header'
    'main main aside'
    'main main aside'
    'footer footer footer';

    /*<<<<<<<< ALINHAMENTOS DE ITEMS NA VERTICAL */
    align-items:/* center, stretch, start, end; */ ;

    /* <<<< HORIZONTAL */
    justify-items: /* center, stretch, start, end; */;
}
header{
    grid-area: header;
    background-color: #FC7F6F;

    /* <<< OU MESMO ALINHAMENTO NA CAIXA ESPECÃFICA */
    /* VERTICAL */
    align-self: /* center, stretch, start, end; */;
    
    /* HORIZONTAL */
    justify-self: /* center, stretch, start, end; */;
    
}
header p{
    margin-top: 3%;
}
main{
    grid-area: main;
    background-color: #7562FC;
}
main p{
    margin-top: 20%;
}
aside{
    grid-area: aside;
    background-color: #95FCC9;
}
aside p{
    margin-top: 40%;
}
footer{
    grid-area: footer;
    background-color: #FCE762;
}
footer p{
    margin-top: 3%;
}