body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(background-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    background-color: rgb(255, 255, 255);
    width: 350px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.192);
    border-radius: 13px;
    margin: auto;
}
p{
    color: rgb(112, 111, 111);
    font-size: 15px;
}
h2{
    text-align: center;
    margin-bottom: 15px;
}
a{
    text-decoration: none;
}

#txt{
    text-align: center;
    /* background-color: thistle; */
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}
strong{
    color: black;
}
section img{
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: 100%;
}

article.music{
    width: 90%;
    display: grid;
    grid-template-columns: 0.7fr 1.5fr 1fr;
    /* background-color: red; */
    margin: auto;
}
#img-music{
    /* background-color: plum; */
    margin-left: 15px;
}
#img-music img{
    width: 40px;
    float: right;
}
#valor{
    padding-left: 10%;

}
#valor p{
    margin: auto;
}
#change{
    /* background-color: black; */
    margin-top: 12px;
    font-size: 14px;
}
#change a{
    text-decoration: underline;
}

.botao-cancel{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    /* background-color: blueviolet; */
    text-align: center;
}
#botao{
    background-color: rgb(5, 5, 212);
    width: 80%;
    /* text-align: center; */
    color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.452);
}
#botao p{
    color: white;
    padding: 10px 0px;
}
#cancel p{
    margin-top: 15px;
}
#cancel strong{
    padding-top: 10px;
    color: rgb(112, 111, 111);
}